@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common css */

html {
    @apply overflow-x-hidden scroll-smooth
}

body {

    @apply dark:bg-[#00040f] bg-[#e2e2e2ab]
}

.border-color {
    @apply  dark:border-white border-stone-300
}

/* Project css */

.card {
    position: relative;
    left: 0px;
    width: 200px;
    height: fit-content;
    min-height: 400px;
    padding-bottom: 10px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

@media only screen and (max-width: 600px) {
  .card {
    position:relative;
    left:unset;
    padding-bottom:unset;
    margin: 10px;;
    padding-bottom:unset;
  }
  .card:hover {
    transform:unset ;
    transition:unset;
    margin-left:unset;
  }
  .card:not(:first-child) {
    margin-left:unset;
  }
  
  .card:hover ~ .card {
    position:unset;
    left:unset;
    transition:unset;
  }
}

/* About */


.team-member{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    
  }
  
  
  .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 10px  ; 
    transition: all 800ms;
    position: absolute;
    left:auto;
    top:auto;
    z-index: 1;
  }
  
  .team-member:hover .box{
    transform:unset;
  }
  
  .team-member:hover .image{
    transform: translateY(-80px);
    border-radius: 20px;
    width: 150px;
    height: 150px;
  }
  
  .box{
    width:fit-content;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    background:#fff;
    border-radius: 20px;
    position: relative;
    transform: translateY(30px);
    transform: scale(0.0);
    transition-duration: 800ms;
  }

  
  
  

  


