@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply overflow-x-hidden scroll-smooth
}

body {

    @apply dark:bg-[#00040f] bg-[#e2e2e2ab]
}

.border-color {
    @apply  dark:border-white border-stone-300
}




.card {
    position: relative;
    left: 0px;
    width: 200px;
    height: fit-content;
    min-height: 400px;
    padding-bottom: 10px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

@media only screen and (max-width: 600px) {
  .card {
    position:relative;
    left:unset;
    padding-bottom:unset;
    margin: 10px;;
    padding-bottom:unset;
  }
  .card:hover {
    transform:unset ;
    transition:unset;
    margin-left:unset;
  }
  .card:not(:first-child) {
    margin-left:unset;
  }
  
  .card:hover ~ .card {
    position:unset;
    left:unset;
    transition:unset;
  }
}