.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #fff; 
    transition: transform 0.3s ease-in-out;
}
.team-member:hover img{
    transform:translateY(-60px);
    
}

.team-member:hover {
    border-radius: 20px;
    height: 260px;
    background-color: #fff;
}
.team-member:hover details {
    opacity: 1px;
}

.team-member {
    text-align: center;
    margin: 20px;
  /*  background-color: #fff;  White background for each team member */
    padding: 15px; /* Add padding for better visual appeal */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}



/* Add a hover effect for better user interaction */
.team-member img:hover {
transform: scale(1.1);
}


.team-member h3 {
    margin: 10px 0;
    color: #333; /* Darken the text color */
}

.team-member p {
    color: #555;
}